<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="1" >
    <test name="Test1">
        <!--<parameter name="login"  value="<login>" />-->
        <!--<parameter name="password"  value="<password>" />-->

        <classes>
            <class name="tests.SendMailTest"/>
        </classes>
    </test>

</suite>